In [1]:
def sl(a,b):
    return a + b

print(sl(2,8))

10

In [5]:
print(sl(a = 2, b = 8))

10

### Тема урока: функции с переменным количеством аргументов
- Аргументы *args
- Аргументы **kwargs
- Keyword-only аргументы
- lambda

### Аргументы *args

сумма цифр числа

In [ ]:
def sl(*b):
    s = 0
    for i in b:
        s += i
    return s

print(sl(2, 8, 9, 78))

In [ ]:



def minim(*args):
    mi = args[0]
    for i in args:
        if i < mi:
            mi = i 
    return mi


print(minim(1, 2, 3, 10, -9))

In [1]:
def inicial(**kwargs):
    print(kwargs.get('name')[0]+'. '+kwargs.get('surname')[0]+'. '+kwargs.get('f') )
    
inicial(name = 'Fedor', year = 23, surname = 'Petrovich', f = 'Ivanov')

F. P. Ivanov

In [2]:
A = [('Masha', 'Leonidovna','Ivanova'), ('Ivan', 'Alekseevich', 'Petrov')]

In [3]:
for i in A:
    inicial(name = i[0], surname = i[1], f = i[2])

M. L. Ivanova
I. A. Petrov

In [13]:
def my_func(a, b, *args, name='Gvido', age=17, **kwargs):
    print(a, b)
    print(args)
    print(name, age)
    print(kwargs)

In [14]:
my_func(1, 2, 3, 4, name='Timur', age=28, job='Teacher', language='Python')

1 2
(3, 4)
Timur 28
{'job': 'Teacher', 'language': 'Python'}

In [15]:
my_func(1, 2, name='Timur', age=28, job='Teacher', language='Python')

1 2
()
Timur 28
{'job': 'Teacher', 'language': 'Python'}

In [16]:
my_func(1, 2, 3, 4, job='Teacher', language='Python')

1 2
(3, 4)
Gvido 17
{'job': 'Teacher', 'language': 'Python'}

Напишите функцию count_args(), которая принимает произвольное количество аргументов и возвращает количество переданных в нее аргументов.

Примечание 1. Обратите внимание, что функция должна принимать не список, а именно произвольное количество аргументов.

Примечание 2. Следующий программный код:

print(count_args())<br>
print(count_args(10))<br>
print(count_args('stepik', 'beegeek'))<br>
print(count_args([], (''), 'a', 12, False))<br>
должен выводить:<br>

0<br>
1<br>
2<br>
5<br>

Примечание 3. Вызывать функцию count_args() не нужно, требуется только реализовать.

In [4]:
def count_args(*a):
    return len(a)

In [5]:
print(count_args())
print(count_args(10))
print(count_args('stepik', 'beegeek'))
print(count_args([], (''), 'a', 12, False))

0
1
2
5

Напишите функцию mean(), которая принимает произвольное количество аргументов и возвращает среднее арифметическое переданных в нее числовых (int или float) аргументов.

Примечание 1. Обратите внимание, что функция должна принимать не список, а именно произвольное количество аргументов.

Примечание 2. Функция должна игнорировать аргументы всех типов, кроме int или float.

Примечание 3. Следующий программный код:

print(mean())<br>
print(mean(7))<br>
print(mean(1.5, True, ['stepik'], 'beegeek', 2.5, (1, 2)))<br>
print(mean(True, ['stepik'], 'beegeek', (1, 2)))<br>
print(mean(-1, 2, 3, 10, ('5')))<br>
print(mean(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))<br>
должен выводить:<br>

0.0<br>
7.0<br>
2.0<br>
0.0<br>
3.5<br>
5.5<br>

Примечание 4. Для проверки типа можно использовать встроенную функцию type().

Примечание 5. Вызывать функцию mean() не нужно, требуется только реализовать.

In [17]:
def mean(*x):
    s = 0
    k = 0
    for i in x:
        if type(i) == int or type(i) == float:
            s+=i
            k+=1
    if k!=0:
        return (s/k)
    else:
        return 0

In [18]:
print(mean())
print(mean(7))
print(mean(1.5, True, ['stepik'], 'beegeek', 2.5, (1, 2)))
print(mean(True, ['stepik'], 'beegeek', (1, 2)))
print(mean(-1, 2, 3, 10, ('5')))
print(mean(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

0
7.0
2.0
0
3.5
5.5

# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
def sl(a,b):
    return a + b

g = sl(2,8)
print(g)

10

In [3]:
g = lambda a, b: a + b
print(g(2,8))

10

In [4]:
assert g(2,6) == 8

lambda аргументы : выражение

In [4]:
greet = lambda : print ('Hello World !')
greet()

Hello World !

In [7]:
greet_user =  lambda name: print ('Hello, ', name)
greet_user("Masha")

Hello,  Masha

In [28]:
a = [5, 11, 19, 28, 17]

In [29]:
a.sort()

In [30]:
a

[5, 11, 17, 19, 28]

In [31]:
z = [500, 110, 19, 280, 1117]
print(sorted(z, reverse=True))

[1117, 500, 280, 110, 19]

In [32]:
z

[500, 110, 19, 280, 1117]

In [1]:
def sl(x):
    return x%10

print(sl(117))

7

In [2]:
a = [506, 119, 1900, 28, 17]
print(sorted(a,  key = sl))

[1900, 506, 17, 28, 119]

In [11]:
a = [506, 119, 1900, 28, 17]
print(sorted(a, key = lambda x: x%10))

[500, 110, 17, 28, 19]

In [37]:
s = [5001, 1101, 19, 28, 171119]
s.sort(key=lambda x: int(str(x[::-1])))
print(*s)

TypeError: 'int' object is not subscriptable

Напишите лямбда-функцию, которая удваивает входное значение.

In [3]:
def ss(x):
    return 2*x

print(ss(5))

10

In [ ]:
g = lambda a : 2*a
print(g(a))

## Использование лямбда-функции в python

Мы используем лямбда-функции, когда нам требуется безымянная функция в течение короткого периода времени.

В Python мы обычно используем его в качестве аргумента функции более высокого порядка (функции, которая принимает другие функции в качестве аргументов). Лямбда-функции используются наряду со встроенными функциями, такими как filter()и map()т. Д.

**map()**

In [4]:
a,b = map(int, input().split())

2 3

In [4]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = map(lambda x: x * 2 , my_list)

print(new_list)

<map object at 0x0000021426C2BB50>

In [1]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(map(lambda x: x * 2 , my_list))

print(*new_list)

2 10 8 12 16 22 6 24

**filter()**

In [2]:
# Program to filter out only the even items from a list
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(filter(lambda x: ( x%2 == 0) , my_list))

print(new_list)

[4, 6, 8, 12]

In [3]:
a = input()
print(a)

5
5

In [ ]:
a=input().split()
print(*sorted(a, reverse=True, key=lambda x: sum(int (i) for i in str(x))))

In [19]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]

total = reduce(lambda x,y: x+y, numbers, 0)
product = reduce(lambda x,y: x*y, numbers, 1)

In [15]:
total

15

In [20]:
product

120

In [21]:
from functools import reduce
product = reduce(lambda x,y: x*y, [i+1 for i in range(int(input()))], 1)

5

In [22]:
product

120

In [23]:
spispk = ['Москва', 'Омск', 'Магас', 'Бердск', 'Ленск', 'Муром']
m = 'М'
new_list = list(filter(lambda x: ( x[0] == m) ,spispk))
print(new_list)

['Москва', 'Магас', 'Муром']

In [24]:
spispk = ['М', 'Омск', 'Магас', 'Бк', 'Ленск', 'Муром']
new_list = list(filter(lambda x: ( len(x) >3) ,spispk))
print(new_list)

['Омск', 'Магас', 'Ленск', 'Муром']

 ## Лямбда-выражения функции¶

Напишите функцию func, используя синтаксис анонимных функций, которая принимает целочисленный аргумент и возвращает значение True, если он делится без остатка на 19 или на 13 и False в противном случае.

**Примечание 1.** Следующий программный код:

print(func(19))

print(func(13))

print(func(20))

print(func(15))

print(func(247))

должен выводить:

True

True

False

False

True

In [ ]:
def t(x):
    return x % 13 == 0 or x % 19 == 0

In [9]:
func = lambda x: x % 13 == 0 or x % 19 == 0

print(func(19))

print(func(13))

print(func(20))

print(func(15))

print(func(247))

True
True
False
False
True

Напишите функцию func, используя синтаксис анонимных функций, которая принимает строковый аргумент и возвращает значение True, если переданный аргумент начинается и заканчивается на английскую букву a (регистр буквы неважен) и False в противном случае.

**Примечание 1.** Следующий программный код:
 
 print(func('abcd'))
 
 print(func('bcda'))

print(func('abcda'))

print(func('Abcd'))

print(func('bcdA'))

print(func('abcdA'))

должен выводить:
<br>
False<br>
False<br>
True<br>
False<br>
False<br>
True<br>

In [38]:
l = lambda x: x[0].lower()=='a' and x[-1].lower() == 'a'

print(l('abcd'))

print(l('bcda'))

print(l('abcda'))

print(l('Abcd'))

print(l('bcdA'))

print(l('abcdA'))

False
False
True
False
False
True

# Challenge - Passing a Lambda Expression to a Function

In the next excercise you will create a function that takes a lambda expression as an argument. Create a function called `modify_list`. The function takes two arguments, a list and a lambda expression. The function iterates through the list and applies the lambda expression to every element in the list.

In [1]:
def modify_list(lst, lmbda):
    """
    Input: list and lambda expression
    Output: the transformed list
    """
    
    # your code here

In [6]:
a=['Python','Java', 'Perl', 'PHP', 'Swift'] 
print(list(map(lambda x:len(x), a)))

[6, 4, 4, 3, 5]

#### Now we will define a lambda expression that will transform the elements of the list. 

In the cell below, create a lambda expression that converts Celsius to Kelvin. Recall that 0°C + 273.15 = 273.15K

In [3]:
hh = lambda x: x + 273.5
hh(0)

273.5

In [4]:
hh(10)

283.5

In [2]:
temps = [12, 23, 38, -55, 24]
temps

[12, 23, 38, -55, 24]

In [6]:
# your code here
temps = [12, 23, 38, -55, 24]
r = list(map(lambda x: x + 273.5, temps))
print(r)

[285.5, 296.5, 311.5, 218.5, 297.5]

Finally, convert the list of temperatures below from Celsius to Kelvin.

In [11]:
a=[10, 20, 5, 4]
print(list(map(lambda x:round(x/2.54, 2), a)))

[3.94, 7.87, 1.97, 1.57]

#### In this part, we will define a function that returns a lambda expression

In the cell below, write a lambda expression that takes two numbers and returns 1 if one is divisible by the other and zero otherwise. Call the lambda expression `mod`.

 <expression on true> if <predicate> else <expression on false>.

In [ ]:
def abs(number):
    if number >= 0:
        return number
    return -number

In [ ]:
def abs(number):
    return number if number >= 0 else -number

In [9]:
mod = lambda a,b : 1 if a%b ==0 else 0
print(mod(4,2))
print(mod(3,2))

1
0

#### Now create a function that returns mod. The function only takes one argument - the first number in the `mod` lambda function. 

Note: the lambda function above took two arguments, the lambda function in the return statement only takes one argument but also uses the argument passed to the function.

In [6]:
def divisor(b):
    """
    Input: a number
    Output: a function that returns 1 if the number is 
    divisible by another number (to be passed later) and zero otherwise.
    """
    
    # your code here

Finally, pass the number 5 to `divisor`. Now the function will check whether a number is divisble by 5. Assign this function to `divisible5`

In [7]:
# your code here

Test your function with the following test cases:

In [ ]:
divisible5(10)

In [ ]:
divisible5(8)

# Bonus Challenge - Using Lambda Expressions in List Comprehensions

In the following challenge, we will combine two lists using a lambda expression in a list comprehension. 

To do this, we will need to introduce the `zip` function. The `zip` function returns an iterator of tuples.

In [10]:
# Here is an example of passing one list to the zip function. 
# Since the zip function returns an iterator, we need to evaluate the iterator by using a list comprehension.

l = [1,2,3,4,5]
[x for x in zip(l)]

[(1,), (2,), (3,), (4,), (5,)]

Using the `zip` function, let's iterate through two lists and add the elements by position.

In [11]:
list1 = ['Green', 'cheese', 'English', 'tomato']
list2 = ['eggs', 'cheese', 'cucumber', 'tomato']

# your code here

# Bonus Challenge - Using Lambda Expressions as Arguments

#### In this challenge, we will zip together two lists and sort by the resulting tuple.

In the cell below, take the two lists provided, zip them together and sort by the first letter of the second element of each tuple. Do this using a lambda function.

In [1]:
list1 = ['Engineering', 'Computer Science', 'Political Science', 'Mathematics']
list2 = ['Lab', 'Homework', 'Essay', 'Module']

# your code here

In [16]:
numbers = [219, 234, 890, 81, 73, 96]

In [17]:
print(sorted(numbers))

[73, 81, 96, 219, 234, 890]

In [18]:
print(sorted(numbers, reverse = True ))

[890, 234, 219, 96, 81, 73]

In [19]:
def rr(g):
    return g % 10

rr(189)

9

In [20]:
print(sorted(numbers, key=rr))

[890, 81, 73, 234, 96, 219]

In [21]:
print(sorted(numbers, key=lambda g : g % 10))

[890, 81, 73, 234, 96, 219]

In [22]:
numbers = list(map(int, input().split()))
print(*sorted(numbers, key=lambda g : g % 10))

4 67 9 10000
10000 4 67 9

In [28]:
def rr(g):
    return abs(g % 10)

numbers = [10, -7, 8, -100, -50, 32, 87, 117, -210]

print(max(numbers, key=lambda g : g % 10))        #  указываем функцию abs в качестве компаратора
print(min(numbers, key=rr))

8
10

# Bonus Challenge - Sort a Dictionary by Values

Given the dictionary below, sort it by values rather than by keys. Use a lambda function to specify the values as a sorting key.

In [31]:
import operator
d = {'Honda': 2097, 'Toyota': 1995, 'Audi': 2001, 'BMW': 2005}

sorted_d = sorted(d.items(), key=operator.itemgetter(1))
sorted_d

[('Toyota', 1995), ('Honda', 1997), ('Audi', 2001), ('BMW', 2005)]

In [37]:
d = {'Honda': 2006, 'Toyota': 1995, 'Audi': 2001, 'BMW': 2005}

sorted_d = sorted(d.items(), key=lambda t : t[1])
sorted_d

[('Toyota', 1995), ('Audi', 2001), ('BMW', 2005), ('Honda', 2006)]

In [1]:
a=['Python','Java', 'Perl', 'PHP', 'Swift']

In [5]:
b=[len(i) for i in a]
print(b)

[6, 4, 4, 3, 5]