# Вложенные циклы

In [2]:
for i in range(3):
    for j in range(4):
        print ('i =',i,'j = ',  j )

i = 0 j =  0
i = 0 j =  1
i = 0 j =  2
i = 0 j =  3
i = 1 j =  0
i = 1 j =  1
i = 1 j =  2
i = 1 j =  3
i = 2 j =  0
i = 2 j =  1
i = 2 j =  2
i = 2 j =  3

#### Выведите на экран таблицу умножения чисел от 1 до 9.

In [3]:
for i in range(10):
    for j in range(10):
        print(f'{i}*{j}={i*j}')

0*0=0
0*1=0
0*2=0
0*3=0
0*4=0
0*5=0
0*6=0
0*7=0
0*8=0
0*9=0
1*0=0
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
2*0=0
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3*0=0
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4*0=0
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5*0=0
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6*0=0
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7*0=0
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8*0=0
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9*0=0
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [5]:
for i in range(1, 10):
    for j in range(1, 10):
        print(i*j, end = '   ')
    print()

1   2   3   4   5   6   7   8   9
2   4   6   8   10   12   14   16   18
3   6   9   12   15   18   21   24   27
4   8   12   16   20   24   28   32   36
5   10   15   20   25   30   35   40   45
6   12   18   24   30   36   42   48   54
7   14   21   28   35   42   49   56   63
8   16   24   32   40   48   56   64   72
9   18   27   36   45   54   63   72   81

#### Выведите на экран таблицу сложения чисел от 1 до 9, т.е. каждый элемент таблицы это значение суммы индекса строки и столбца.

In [6]:
for i in range(1, 10):
    for j in range(1, 10):
        print(i+j, end = '   ')
    print()

2   3   4   5   6   7   8   9   10
3   4   5   6   7   8   9   10   11
4   5   6   7   8   9   10   11   12
5   6   7   8   9   10   11   12   13
6   7   8   9   10   11   12   13   14
7   8   9   10   11   12   13   14   15
8   9   10   11   12   13   14   15   16
9   10   11   12   13   14   15   16   17
10   11   12   13   14   15   16   17   18

#### Выведите на экран таблицу степеней числа a в степени b, где a и b - числа от 1 до 5, т.е. каждый элемент таблицы это значение индекса строки, возведенное в степень равное индексу столбца

In [7]:
for i in range(1, 6):
    for j in range(1, 6):
        print(i**j, end = '   ')
    print()

1   1   1   1   1
2   4   8   16   32
3   9   27   81   243
4   16   64   256   1024
5   25   125   625   3125

In [9]:
for i in range(1, 6):
    for j in range(1, 6):
        print(pow(i, j), end = '   ')
    print()

1   1   1   1   1
2   4   8   16   32
3   9   27   81   243
4   16   64   256   1024
5   25   125   625   3125

#### Выведите на экран таблицу деления числа a на число b, где a и b - числа от 1 до 5, т.е. каждый элемент таблицы это значение частного от деления индекса строки на индекс столбца с точностью 2 знака после запятой. Для форматирования вывода дробного числа используйте функцию round(x, 2) Эта функция принимает на вход число x и количество знаков после запятой, которые нужно оставить при выводе. В данном случае это 2.

In [11]:
for i in range(1, 6):
    for j in range(1, 6):
        print(round(i/j,2), end = '   ')
    print()

1.0   0.5   0.33   0.25   0.2
2.0   1.0   0.67   0.5   0.4
3.0   1.5   1.0   0.75   0.6
4.0   2.0   1.33   1.0   0.8
5.0   2.5   1.67   1.25   1.0

In [ ]:
Программа получает на вход натуральное число N (1 ≤ N ≤100). Выведите на экран таблицу размером NxN, элементы каждой строки равны индексу строки

Для примера:

Ввод	Результат
4
4
0 0 0 0
1 1 1 1
2 2 2 2
3 3 3 3

Программа получает на вход натуральное число N (1 ≤ N ≤100). Выведите на экран таблицу размером NxN, заполненную по следующему правилу: строка с индексом 0 и N-1 заполнена 1, все остальные строки 0.

Пример
Входные значения 
4 

Выходные данные

`1 1 1 1 
0 0 0 0
0 0 0 0
1 1 1 1`

Программа получает на вход натуральное число N (1 ≤ N ≤100). Выведите на экран таблицу размером NxN, элементы каждой строки равны индексу строки

In [3]:
n = int(input())
for i in range(n):
    for j in range(n):
        print(i, end = ' ')
    print()

4
0 0 0 0
1 1 1 1
2 2 2 2
3 3 3 3

In [4]:
n = int(input())
for i in range(n):
    for j in range(n):
        print(j, end = ' ')
    print()

5
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [4]:
n= int(input())
for i in range(n):
    for j in range(n):
        if i ==0 or i ==n-1:
            print(1, end = ' ')
        else:
            print(0, end=' ')
    print()

4
1 1 1 1
0 0 0 0
0 0 0 0
1 1 1 1

№10. Программа получает на вход натуральное число N (1 ≤ N ≤100). Выведите на экран таблицу размером NxN, заполненную по следующему правилу: ко краям таблицы стоят 1, а в середине 0.

Пример

Входные значения

4 

 Выходные значения
 
 `1 1 1 1 
 1 0 0 1 
 1 0 0 1 
 1 1 1 1`

In [5]:
n= int(input())
for i in range(n):
    for j in range(n):
        if i ==0 or i ==n-1 or j==0 or j==n-1 :
            print(1, end = ' ')
        else:
            print(0, end=' ')
    print()

4
1 1 1 1
1 0 0 1
1 0 0 1
1 1 1 1

In [ ]:
Программа получает на вход натуральное число N (1 ≤ N ≤100). Выведите на экран таблицу размером NxN, по углам которой стоят 1, все остальные элементы 0.

Пример

Входные значения 
4 
Выходные значения

1 0 0 1 

0 0 0 0 

0 0 0 0 

1 0 0 1

In [ ]:
n= int(input())
for i in range(n):
    for j in range(n):
        if (i ==0 and j==0)  or (i==0 and j==n-1) or (i ==n-1 and j==0)  or (i==n-1 and j==n-1) :
            print(1, end = ' ')
        else:
            print(0, end=' ')
    print()

In [ ]:
Программа получает на вход натуральное число N (2 ≤ N ≤100, N - четное). Выведите на экран таблицу размером NxN, верхняя половина которой заполнена 1, а нижняя 0.

Пример

Входные значения 

4 
Выходные значения

1 1 1 1

1 1 1 1 

0 0 0 0 

0 0 0 0

In [1]:
n= int(input())
for i in range(n):
    for j in range(n):
        if (i < n//2 ):
            print(1, end = ' ')
        else:
            print(0, end=' ')
    print()

6
1 1 1 1 1 1
1 1 1 1 1 1
1 1 1 1 1 1
0 0 0 0 0 0
0 0 0 0 0 0
0 0 0 0 0 0

Программа получает на вход натуральное число N (2 ≤ N ≤100, N - четное). Выведите на экран таблицу размером NxN, верхняя четверть заполнена 1, а все остальные элементы 0.

Пример

Входные значения

4  
Выходные значения
1 1 0 0 

1 1 0 0 

0 0 0 0 

0 0 0 0

In [12]:
n= int(input())
for i in range(n):
    for j in range(n):
        if (j < n//2) and (i < n//2):
            print(1, end = ' ')
        else:
            print(0, end=' ')
    print()

6
1 1 1 0 0 0
1 1 1 0 0 0
1 1 1 0 0 0
0 0 0 0 0 0
0 0 0 0 0 0
0 0 0 0 0 0

Программа получает на вход натуральное число N (3 ≤ N ≤100, N - нечетное). Выведите на экран таблицу размером NxN, средний столбец и средняя строка которой заполнены единицами, все остальные элементы нули.

Пример

Входные значения 

5 
Выходные значения
0 0 1 0 0 

0 0 1 0 0 

1 1 1 1 1

0 0 1 0 0 

0 0 1 0 0

In [15]:
n= int(input())
for i in range(n):
    for j in range(n):
        if (j == n//2) or (i == n//2):
            print(1, end = ' ')
        else:
            print(0, end=' ')
    print()

5
0 0 0 0 0
0 0 0 0 0
0 0 1 0 0
0 0 0 0 0
0 0 0 0 0

In [ ]:
Программа получает на вход натуральное число N (1 ≤ N ≤100). Выведите на экран таблицу размером NxN, в которой на главной диагонали стоят 1, а все остальные места заполнен 0.

Пример

Входные значения 

4 
Выходные значения

1 0 0 0 

0 1 0 0 

0 0 1 0 

0 0 0 1

In [16]:
n= int(input())
for i in range(n):
    for j in range(n):
        if (i == j):
            print(1, end = ' ')
        else:
            print(0, end=' ')
    print()

6
1 0 0 0 0 0
0 1 0 0 0 0
0 0 1 0 0 0
0 0 0 1 0 0
0 0 0 0 1 0
0 0 0 0 0 1

In [ ]:
Программа получает на вход натуральное число N (1 ≤ N ≤100). Выведите на экран таблицу размером NxN, в которой на главной диагонали и ниже стоят 1, а все остальные места заполнен 0.

Пример

Входные значения 

4 

Выходные значения

1 0 0 0

1 1 0 0 

1 1 1 0 

1 1 1 1

In [17]:
n= int(input())
for i in range(n):
    for j in range(n):
        if (i >= j):
            print(1, end = ' ')
        else:
            print(0, end=' ')
    print()

4
1 0 0 0
1 1 0 0
1 1 1 0
1 1 1 1

In [ ]:
Программа получает на вход натуральное число N (2 ≤ N ≤100, N - четное). Выведите на экран таблицу размером NxN, нижний угол первой четверти которой заполнен единицами, а все остальные элементы нулями.

Пример

Входные значения 

6 

Выходные значения
1 0 0 0 0 0 

1 1 0 0 0 0 

1 1 1 0 0 0 

0 0 0 0 0 0 

0 0 0 0 0 0 

0 0 0 0 0 0

In [ ]:
n= int(input())
for i in range(n):
    for j in range(n):
        if (i >= j) and (i < n//2):
            print(1, end = ' ')
        else:
            print(0, end=' ')
    print()